<div class="col-sm-6">
  Recarga <input class="form-check-input" type="checkbox" name="recarga" value="Sim">
    <div class="col-sm-12 mt-4">
      <label for="qualEmpresa" class="form-label">Qual Empresa:</label>
        <input type="text" name="qualEmpresa" class="form-control" value="{{update.qualEmpresa}}">
    </div>
</div> 
<div class="col-sm-6">
  Operadora Cartão <input class="form-check-input" type="checkbox" name="operadoraCartao" value="Sim">
    <div class="col-sm-12 mt-4">
      <label for="qualOperadora" class="form-label">Qual:</label>
        <input type="text" name="qualOperadora" class="form-control" value="{{update.qualOperadora}}">
    </div>
</div> 
<div class="col-sm-6">
  Sistema Operacional <input class="form-check-input" type="checkbox" name="sistemaOperacional" value="Sim">
    <div class="col-sm-12 mt-4">
      <label for="qualSistema" class="form-label">Qual:</label>
        <input type="text" name="qualSistema" class="form-control" value="{{update.qualSistema}}">
    </div>
</div> 
  <div class="col-sm-6">
    <div class="form-check">
      <input type="checkbox" name="layoutExterno" value="Sim"> Layout Externo 
    </div>
    <div class="form-check">
      <input type="checkbox" name="autosservico" value="Sim"> Autosserviço
    </div>
    <div class="form-check">
      <input type="checkbox" name="fardamento" value="Sim"> Fardamento
    </div>
    <div class="form-check">
      <input type="checkbox" name="entregaDomicilio" value="Sim"> Entrega Domicilio
    </div>
    <div class="form-check">
     <input type="checkbox" name="atendimento24" value="Sim"> Atendimento 24 horas
    </div>
  </div>
