{{#if success_msg}}
    <div class="container alert alert-success text-center mt-2 col-sm-12">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
    <div class="container alert alert-danger text-center mt-2 col-sm-4">{{error_msg}}</div>
{{/if}}