<h5>Informações do Gestor:</h5>
    <div class="col-sm-6">
        <label for="gestor" class="form-label">Nome:</label>
        <input type="text" name="gestor" class="form-control" value="{{update.gestor}}">

        <label for="telefone" class="form-label">Telefone:</label>
        <input type="number" name="telefone" class="form-control" minlength="9" maxlength="11" value="{{update.telefone}}">
    </div>
    <div class="col-sm-6">
        <label for="cpf" class="form-label">CPF:</label>
        <input type="number" name="cpf" class="form-control" minlength="11" maxlength="11" value="{{update.cpf}}">
      
        <label for="email" class="form-label">E-mail:</label>
        <input type="text" name="email" class="form-control" value="{{update.email}}">
    </div>