        <div class="col-sm-6">
          <label for="cadastro" class="form-label">Forma de Cadastro:</label>
          <select name="cadastro" class="form-select">
            <option selected>{{update.cadastro}}</option>
            <option>INATIVO</option>
            <option>FRANQUIADO</option>
            <option>ASSOCIATIVISMO</option>
          </select>  
        </div>
         <div class="col-sm-6">
          <label for="consultor" class="form-label">Consultor:</label>
          <select name="consultor" class="form-select">
            <option selected>{{update.consultor}}</option>
            <option>BA 01 - Setor Vago</option>
            <option>BA 02 - Fábio Farjala</option>
            <option>AL - Davi Ramos</option>
            <option>SE - Setor Vago</option>
            <option>PE - Setor Vago</option>
            <option>PB - Weber Lucena</option>
            <option>PI - Setor Vago</option>
            <option>MA - Setor Vago</option>
          </select>  
        </div>