        <div class="col-sm-6">
          <label for="cadastro" class="form-label">Forma de Cadastro:</label>
          <select name="cadastro" class="form-select">
            <option selected>{{update.cadastro}}</option>
            <option>INATIVO</option>
            <option>FRANQUIADO</option>
            <option>ASSOCIATIVISMO</option>
          </select>  
        </div>
         <div class="col-sm-6">
          <label for="consultor" class="form-label">Consultor:</label>
          <select name="consultor" class="form-select">
            <option selected>{{update.consultor}}</option>
            <option>Consultor 1</option>
            <option>Consultor 2</option>
            <option>Consultor 3</option>
            <option>Consultor 4</option>
          </select>  
        </div>